body {
    background-image:url(/image/main-bg.jpg);
    background-size: 100%;
    background-position:top;
    background-repeat: no-repeat;
    margin:0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;

}
.header {
    width: 100%;
    height: 215px;
    display: flex;
    justify-content: center;
}
.header-content {
    width: 1060px;
    height:100%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.logo {
width: 135px;
height: 40px;
}
.links {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    width:314px;
    height:24px;
    align-items: center;
    box-sizing: border-box;
    margin-left:20px;
}
.link {
    color:white;
    text-decoration: none;
    padding:5px;
    box-sizing:border-box;
}
.link:active {
    color:white;
    text-decoration: none;
}
.link:hover {
    padding:5px;
    background: linear-gradient(to bottom left ,#200000,#7e0404);
    border-radius: 10px;
}
.banner {
    width:100%;
    height: 508px;
    display: flex;
    justify-content: center;
    
}
.banner-content {
    height: 100%;
    width: 1060px;
}
.banner-text {
    width: 616px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.banner-title {
    color:white;
    width: 616px;
    font-size: 52px;
    font-weight: bold;
}
.banner-info {
    color:white;
    width: 572px;
    
}
.info-prime {
    color:red;
    font-size: 18px;
    display: flex;
    
}
.info-date {
    color:white;
    font-size: 20px;

}
.button-play {
    color:white;
    transition: .4s;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(90deg, #FB641A 0%, #FC3309 100%);
    border-radius: 300px;
    border:none;
    text-transform: uppercase;
    width: 260px;
    height: 65px;
    position: relative;
}
.button-play:after {
    content: " ";
    width: 81px;
    height:81px;
    background-color: white;
    position: absolute;
    border-radius:50%;
    opacity:.5;
    top:-7px;
    left:200px;
}
.button-play:before {
    content:" ";
    background-color:white;
    width:65px;
    height:65px;
    position:absolute;
    top:0;
    left:209px;
    border-radius:50%;
}
.play {
    position: absolute;
    z-index: 5;
    top:15px;
    left:223px;
}
.other-films {
    color:white;
    display: flex;
    justify-content: spac;
}